<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.chrisolsen.edmontoninfo"
      android:versionCode="1"
      android:versionName="0.5">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
	
	
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:theme="@style/Theme.EdmontonInfo">
    	
    	<uses-library android:name="com.google.android.maps" />
    	
        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SchoolsActivity" android:label="Schools"></activity>
        <activity android:name=".SchoolMapActivity" />
        <activity android:name=".PoliceStationsActivity" android:label="Police Stations" />
        <activity android:name=".PoliceStationMapActivity" />
        <activity android:name=".FireStationsActivity" android:label="Fire Stations" />
        <activity android:name=".FireStationMapActivity" />
        <activity android:name=".CommunityLeagueCentersActivity" android:label="Community League Centres" />
        <activity android:name=".CommunityLeagueCenterMapActivity" />
        <activity android:name=".LibrariesActivity" android:label="Libraries" />
        <activity android:name=".LibraryMapActivity" />
        <activity android:name=".ParksActivity" android:label="Parks" />
        <activity android:name=".ParkMapActivity" />
        <activity android:name=".RecFacilitiesActivity" android:label="Rec Facilities" />
        <activity android:name=".RecFacilityMapActivity" />
        
        <activity android:name=".maps.MapContextActivity" android:theme="@android:style/Theme.Dialog" />
        
    </application>
    
    <uses-sdk android:minSdkVersion="3" />
    

</manifest> 